<h2 class="field">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-input">
    <p class='field'>Email</p>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field-input">
    <p class='field'>Password</p>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
