.field{
  float: center;
  margin: 0;
  padding: 0;
  color: #E7E1DD;
  font-family: 'Sumana', serif;
  padding-left: 25px;
  padding-right: 25px;
}
.field-input{
  float: center;
  margin: 0;
  padding: 0;
  color: #E7E1DD;
  font-family: 'Sumana', serif;
  padding-left: 25px;
  padding-right: 800px;

}
body{
  background-repeat: no-repeat;
  background-image: url("lexi-ruskell-217652");
  background-size: cover;
  height: 750px;
  filter: brightness(85%);
}
.actions{
  padding-left: 10px;
  color: red
}
.links{
background-color: red;
}
