.search-bar1{
  margin-left: 250px;
  margin-right: 250px;
  margin-top:  175px;
  min-width:200px;
}
input.search-bar2{
  position: relative;
  border-radius: 4px;
  width: 50%;
  margin: auto;

}
.input-div{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

h1.search-label{
   text-align: center;
   color: #000000;
   font-size: 55px;
   font-family: 'Londrina Solid', cursive;
  }

div.grid.home-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
div.cell.home-cell {
  position: relative;
  width: 10%;
  min-width: 300px;
  height: 100px;
  flex: 0 0 32%;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #E7E1DD;
  opacity: .9;
  text-align: center;
}


.yelp-image {
  position: relative;
  float: left;
  height: 100%;
  width: 100px;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 10px;
}

.camp-text {
  float: center;
  margin: 0;
  padding: 0;
  color:#96292B;
  font-family: 'Sumana', serif;
}
.camp-text2 {
  float: center;
  margin: 0;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
  padding-right: 110px;
}
.search-label-div3{
  border: 2px;
  background-color: #E7E1DD;
  opacity: 0.8;
  margin-left: 25px;
  margin-right: 25px;

}
.campsites-near{
  text-align: center;
  color: #000000;
  font-size: 55px;
  font-family: 'Londrina Solid', cursive;
}
.search-label-div{
  border: 2px;
  background-color: #E7E1DD;
  opacity: 0.8;
  margin-left: -25px;
  margin-right: -25px;
}
input.button.button1{
  position: relative;
  margin: auto;
  background-color: #E7E1DD;
  border: 2px;
  font-family: 'Sumana', serif;
  color: #2A161D;
  opacity: 0.7;
  margin-top: 5px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
