.top-bar {
  padding-left: 10px;
  padding-right: 10px;
}

div.top-bar{
    background-color: #E7E1DD;
    opacity: 0.6;
    padding-bottom: 65px;
}

.sign-in{
    float: right;
    color: #F2EAC1;
    font-weight: bold;
    color: #000000;
   font-family: 'Sumana', serif;
    font-size: 20px;
}
.sign-in:hover{
   color: #2A161D;
}
.sign-in:hover{
   color: #2A161D;
}

.profile{
  float: right;
  color: #000000;
  margin-right: 10px;
  font-weight: bold;
  font-family: 'Sumana', serif;
  font-size: 20px;
}
.profile:hover{
   color: #2A161D;
}
.profile:focus{
   color: #2A161D;
}

.home {
  font-weight: bold;
  color: #000000;
  font-family: 'Sumana', serif;
  font-size: 20px;
}
.home:hover{
   color: #2A161D;
}
.home:focus{
   color: #2A161D;
}

.background-image{
  background-repeat: no-repeat;
  background-image: url("lexi-ruskell-217652");
  background-size: cover;
  height: 1000px;
  background-color: gray;
  filter: brightness(85%);
}
