.my-campsites{
  text-align: center;
  color: #000000;
  font-size: 55px;
  font-family: 'Londrina Solid', cursive;
}
.my-camps-div{
  border: 2px;
  background-color: #E7E1DD;
  opacity: 0.8;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}
.note-entry-label{
  margin: 0;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
}


#note-tile{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Sumana', serif;
}
.name{
    text-align: center;
    color: black;
    font-size: 75px;
    font-family: 'Londrina Solid', cursive;
}
.user-name-div{
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #E7E1DD;
  opacity: 0.8;
  margin-left: -25px;
  margin-right: -25px;
}
.campsite-name{
  margin: 0;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.campsite-name:hover{
  margin: 0;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}
.red-note-tile {
  border: 3px solid #5F1E27;
}



.cell.user-camp-tile{
  min-width: 300px;
  height: 30px;
  margin-bottom: 10px;
  flex: 0 0 32%;
  background-color: #E7E1DD;
  text-align: center;
  cursor: pointer;
}


.grid.user-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.notes{
  display: none;
  background-color: #E7E1DD;
  padding-left: 10px;
  padding-right: 10px;
}
.button.note-submit-button{
  text-align: center;
  margin-right: 100px;
  background-color: #E7E1DD;
  color: #96292B;
  font-family: 'Sumana', serif;
  margin-left: 10px
}
.visible{
  background-color: #E7E1DD;
  padding: 0;
  margin-left: 10px;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.visible:hover{
   background-color: #E7E1DD;
  color: #96292B;
}
.visible:focus{
    background-color: #E7E1DD;
}
.note-button{
  background-color: #E7E1DD;
  padding: 0;
  margin-left: 10px;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.note-button:hover{
  background-color: #E7E1DD;
  color: #96292B;

}
.note-button:focus{
  background-color: #E7E1DD;

}
.dropdown:hover .notes{
  display: block;
}
