.my-campsites{
  margin-left: 550px;
  margin-right: 550px;
  margin-top:  50px;
  min-width:200px;
  color:#F2EAC1;
}
.name{
    color:#F2EAC1;


}
.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}
.red-note-tile {
  border: 3px solid red;
}

input.edit-note{
background-color: red;
}
