.my-campsites{
  color: black;
  font-family: 'Londrina Solid', cursive;
}
.my-camps-div{
  background-color: #E7E1DD;
  opacity: 0.8;
  text-align: center;
}
.note-entry-label{
  margin: 0;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
}


#note-tile{
  margin-bottom: 25px;
  height: 50px;
  padding-bottom: 50px;
  color: black;
  font-family: 'Sumana', serif;
}
.note-field{
  margin-top: -15px;
}
#user-map{
  height:500px;
  width:500px;
  margin-top: 2px;
}
.name{
    text-align: center;
    color: black;
    font-size: 75px;
    font-family: 'Londrina Solid', cursive;
}
.user-name-div{
  margin-top: 10px;
  margin-bottom: 40px;
  padding-bottom: 15px;
  background-color: #E7E1DD;
  opacity: 0.8;
  margin-left: -25px;
  margin-right: 0px;

}
.campsite-name{
  margin-top: 100px;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.campsite-name:hover{
  margin: 0;
  padding: 0;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}

.user-camp-tile{
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #E7E1DD;
  text-align: center;
}

.grid.user-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.notes{
  display: none;
  background-color: #E7E1DD;
  padding-left: 10px;
  padding-right: 10px;
}
.button.note-submit-button{
  float: right;
  text-align: center;
  background-color: #96292B;
  color:#E7E1DD;
  font-family: 'Sumana', serif;
  font-size: 12px;
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: .8;
}
.visible{
  background-color: #E7E1DD;
  padding: 0;
  margin-left: 10px;
  color: #96292B;
  font-family: 'Sumana', serif;
}
.visible:hover{
   background-color: #E7E1DD;
   color: #96292B;
}
.visible:focus{
    background-color: #E7E1DD;
}
.map-button{
  float: right;
  text-align: center;
  background-color: #96292B;
  color:#E7E1DD;
  font-family: 'Sumana', serif;
  font-size: 12px;
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: .8;
}
.map-button:hover{
  background-color: #96292B;
}
.map-button:focus{
    background-color: #96292B;

}
.note-button{
  display: none;
}
.note-button:hover{
  background-color: gray;
  color: #96292B;

}
.note-button:focus{
  background-color: gray;
}
.dropdown .notes{
padding-bottom: 1px;
}
.dropdown:hover .notes{
  display: block;
}
input.edit-note{
  background-color: gray;
  opacity: 0.8
}
#dani{
  padding-top: 0;
}

#note-tile:hover .note-button{
  display:inline-block;
  background-color: #E7E1DD;
  color: #96292B;
  opacity: .8;
  font-family: 'Sumana', serif;
  padding: 15px;
  padding-top: 3px;
  padding-bottom: 0px;
}

button, input[type=submit] {
  line-height: inherit;
  padding: 1em;
}
