.search-bar1{
  margin-left: 250px;
  margin-right: 250px;
  margin-top:  175px;
  min-width:200px;


}

#new-border{
  background-color: #234B1A;
  width: 1162px;
  height: 300px;
  margin-left: -10px;
  margin-top: 100px;
}
.error-message{
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;

}
.camp-tile{
     margin: 0 auto;
     margin-top: 50px;
     width: 25%;
     border: 3px solid #5D3E0F;
     padding: 10px;
     background-color: white;
}
.search-label{
  color: #F2EAC1;
}
