.search-bar1{
  margin-left: 250px;
  margin-right: 250px;
  margin-top:  175px;
  min-width:200px;


}

.error-message{
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;

}
.button1{
  background-color: #234B1A;
  color: #F2EAC1;
}
.button1:hover {
  background-color: #234B1A;
  color: white;
}
.button1:focus {
    color: #F2EAC1;
}
.button1:target {
  background-color: #234B1A;
}
.button1:active {
  background-color: #234B1A;
}
.camp-tile{
     margin: 0 auto;
     margin-top: 50px;
     width: 25%;
     border: 3px solid #5D3E0F;
     padding: 10px;
     background-color: white;
}
.search-label{
  color: #F2EAC1;
}
