.cell.show-cell {
  position: relative;
  flex: 0 0 32%;
  background-color: #E7E1DD;
  opacity: .9;
  width: 96%;
  padding-bottom: 25px;
  margin-top: 75px;
  margin-left: 25px;
}
.big-name{
  font-family: 'Londrina Solid', cursive;
}
.camp-rating {
  position: relative;
  float: right;
  font-family: 'Sumana', serif;
}
input.button.button2{
  float: right;
  background-color:#B6B2AE;
  font-family: 'Sumana', serif;
  color: #850000;
  opacity: 1;
  font-size: 15px;
  padding: 10px;
  width: 7%;
}
img.show-image {
  position: relative;
  float: left;
  width: 15%;
  height: 20%;
  min-width: 10%;
  z-index: 20;
  padding-left: 10px;
  padding-right: 10px;
}

input::placeholder{
  font-family: 'Sumana', serif;
}

.camp-state {
  margin-right: 15px;
  font-family: 'Sumana', serif;
}
