.cell.show-cell {
  position: relative;
  flex: 0 0 32%;
  background-color: #E7E1DD;
  opacity: .9;
  width: 100%;
}
.camp-show-name {



}

img.show-image {
  width: 25%;
  height: 25%;


}

h3.camp-rating {
  float: right;
  padding-right: 10px;

}
.camp-country {

}

.camp-state {
 
}
