.cell.show-cell {
  position: relative;
  flex: 0 0 32%;
  background-color: #E7E1DD;
  opacity: .9;
  width: 96%;
  height: 100%;
  padding-bottom: 25px;
  margin-top: 150px;
  margin-left: 25px;
}
.big-name{
  font-family: 'Londrina Solid', cursive;
}
#map {
  height: 200px;
  width: 200px;
}
#map > div{
  background: none;
}
.camp-rating {
  position: relative;
  float: right;
  width: 30px;
  height: 20px;
  min-height: 30px;
  z-index: 20;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("67385.jpg");
  background-size: cover;
  margin-top: 10px;
  margin-right: 10px;
}

input.button.button2{
    background-color: #E7E1DD;
  font-family: 'Sumana', serif;
  color: #850000;
  opacity: 1;
  font-size: 15px;
  padding: 10px;
  width: 7%;
float: right;
}
img.show-image {
  position: relative;
  float: left;
  width: 15%;
  height: 20%;
  z-index: 20;
  padding-left: 10px;
  padding-right: 10px;
}

input::placeholder{
  font-family: 'Sumana', serif;
}

.camp-state {
  margin-right: 15px;
  font-family: 'Sumana', serif;
}
